In [11]:
import pandas as pd
import numpy as np

# Pandas Series 
(Indexed Array)

In [12]:
sr=pd.Series([12,33,45,67])
print(sr)

0    12
1    33
2    45
3    67
dtype: int64

In [13]:
sr=pd.Series([12,33,45,67],index=[1,2,3,4])
print(sr)

1    12
2    33
3    45
4    67
dtype: int64

In [14]:
#Alphabet Index
sr=pd.Series([12,33,45,67],index=['a','b','c','d'])
print(sr)

a    12
b    33
c    45
d    67
dtype: int64

In [15]:
sr=pd.Series([12,33,45,67],index=['a','b','c','d'],dtype=float)
print(sr)

a    12.0
b    33.0
c    45.0
d    67.0
dtype: float64

## n-darrays to Pandas Series

In [16]:
ar=np.array([1,2,3,4,5,6])
sr=pd.Series(data=ar, index=['a','b','c','d','e','f'])
print(sr)

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

## Slicing values from Pandas Series

In [18]:
sr=pd.Series([1,2,3,4,5,6], index=['a','b','c','d','e','f'])
print(sr[5])

6

In [20]:
# Using local index loc[] or iloc[]
sr=pd.Series([1,23,4,5,66,7], index=[1,2,3,4,5,6])
print(sr.loc[1])
print(sr.iloc[1])

1
23

# Pandas DataFrame

In [22]:
# Creating a dataframe from a dictionary
df=pd.DataFrame({'age':[17,23,33],
                'color':['Blue','Red','Yellow']})
df

   age   color
0   17    Blue
1   23     Red
2   33  Yellow

In [24]:
# Creating a dataframe from a Two Dimensional Array
df=pd.DataFrame(data=([[17,21,33],
                       [22,45,71]]))
df

    0   1   2
0  17  21  33
1  22  45  71

In [25]:
# Creating a dataframe from a Two Dimensional Numpy Array
ar=np.array([[17,21,33],
             [22,45,71]])
df=pd.DataFrame(data=ar)
df

    0   1   2
0  17  21  33
1  22  45  71

In [26]:
# Creating a dataframe from a Two Dimensional Numpy Array
ar=np.array([[17,21,33],
             [22,45,71]])
df=pd.DataFrame(data=ar, columns=['c1','c2','c3'],
                index=['A','B'])
df

   c1  c2  c3
A  17  21  33
B  22  45  71

## Slicing columns, rows and values from pandas DataFrame

In [27]:
# Accessing columns
df['c1']

A    17
B    22
Name: c1, dtype: int64

In [29]:
# Accessing rows using loc
df.loc['B']

c1    22
c2    45
c3    71
Name: B, dtype: int64

In [30]:
# Accessing rows using iloc
df.iloc[1]

c1    22
c2    45
c3    71
Name: B, dtype: int64

In [37]:
# Accessing values
df.values

array([[17, 21, 33],
       [22, 45, 71]])

In [38]:
df.values[1]

array([22, 45, 71])

In [39]:
df.values[1,2]

71

### Summary

Accessing columns:
df[column label]  e.g. df['c1']

Accessing rows:
1. df.loc[index label] e.g. df['A'] 
2. df.iloc[index_num] e.g. df.iloc[0]

Accessing Values:
df.values[index] . e.g. df.values[1,2]