In [1]:
import pandas as pd
import numpy as npb

In [2]:
dt=pd.read_csv('data/csv_data.csv', names=['ID','Names','Price','Sales','Brand'],skiprows=1)
dt

    ID            Names  Price  Sales          Brand
0  101         biscuits   5.00  227.0      HomeFoods
1  102          cookies   7.25  158.0        TBakery
2  103             cake  12.00   50.0        TBakery
3  104  whey_supplement  34.90   24.0        MusleUp
4  105       soft_drink    NaN    NaN           Kola
5  106     potato_chips   1.75  121.0      HomeFoods
6  107          noodles   0.99    NaN  InstantNoodle
7  108     protein_bars   4.90   85.0        MusleUp

In [3]:
dt.fillna(0, inplace=True)

In [4]:
# Sum of all Sales values
dt['Sales'].sum()

665.0

In [5]:
# Min Sales value
dt['Sales'].min()

0.0

In [6]:
# Max Sales value
dt['Sales'].max()

227.0

### Measures of Central Tendency

In [7]:
# Average Sales value
dt['Sales'].mean()

83.125

In [8]:
# Middle Sales value
dt['Sales'].median()

67.5

In [9]:
# Most Occuring Sales value
dt['Sales'].mode()

0    0.0
Name: Sales, dtype: float64

In [10]:
# Range of Sales value
dt['Sales'].max() - dt['Sales'].min()
#dt['Sales'].max() - 24

227.0

In [11]:
analytics = pd.DataFrame({'Total Sales': dt['Sales'].sum(),
                          'Average Sales' : dt['Sales'].mean(),
                          'Maximum Sale' : dt['Sales'].max()},
                         index = [1])
analytics

   Total Sales  Average Sales  Maximum Sale
1        665.0         83.125         227.0

In [12]:
dt.describe()

              ID     Price       Sales
count    8.00000   8.00000    8.000000
mean   104.50000   8.34875   83.125000
std      2.44949  11.40183   81.202459
min    101.00000   0.00000    0.000000
25%    102.75000   1.56000   18.000000
50%    104.50000   4.95000   67.500000
75%    106.25000   8.43750  130.250000
max    108.00000  34.90000  227.000000

### Please Refer this for Advanced EDA and Reporting using Panda Profiling, Statsmodel: 
### https://github.com/Jigisha-p/Olist_Analysis/blob/master/exploratory_analysis.ipynb